<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="James Han's profile">
    <meta name="author" content="James Han">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who's James Han?</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,700|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>

<body>
    <header>
        <h1><a title="My name in big letters" href="/">James Han</a></h1>
        <nav class="main-nav">
            <ul>
                <li class= "">
                    <a title="It's about to get personal" href="./about-me.html">About Me</a>
                </li>
                <li>•</li>
                <li class= "">
                    <a title="Where I pretend to be a writer" href="./blog.html">Blog</a>        
                </li>
                <li>•</li>
                <li class= "">
                    <a title="Showcase of my work" href="./projects.html" style="color: rgba(0, 0, 0, 0.171);">Projects</a>
                </li>
                <li>•</li>
                <li class= "">
                    <a title="How I spend most of my time tbh" href="./things-i-like.html">Things I Like</a>     
                </li>
                <li>•</li>
                <li class="">
                    <a title="Keepin' it professional~" target="_blank" href="../files/resume.pdf">Resume</a>
                </li>
            </ul>     
        </nav>
                
    </header>

    <main>
        <div class="projects">
            <div>
                <div align=center><font size=-1>–– Programming ––</font></div>
                <div>
                    <p class="project-name">jameshan.me</p>
                    2019-
                    <p>This website! Deployed on Github with a custom domain name. Features <a href="../forms/form-contact.html">contact form</a> powered by AWS (Lambda, API Gateway, SES).</p>
                </div>
                <br>
                <br>
                <div>
                    <p class="project-name">MADb</p>
                    2020
                    <p>Movies and Actors Database where authorized users can catalog actors and movies from the entertainment industry. Deployed on Heroku. Features login Auth0<br><a href="https://madb-app.herokuapp.com">Link to MADb</a></p>
                    <ul class="image-list">
                        <li>
                            <a class='image-preview' href="../images/project-images/madb-home.png" target="_blank">
                                <img src="../images/project-images/madb-home.png" alt="madb homepage"/>
                            </a>
                        </li>
                        <li>
                            <a class='image-preview' href="../images/project-images/madb-login.png" target="_blank">
                                <img src="../images/project-images/madb-login.png" alt="madb login"/>
                            </a>
                        </li>
                    </ul>
                </div>
                <br>
                <br>
                <div>
                    <p class="project-name">Coffi</p>
                    2020
                    <p>A simple coffee menu that showcases graphical representation of ingredients in user-created coffee drinks.<br><a href="https://github.com/coldice1915/coffi">Link to Coffi</a></p>
                    <ul class="image-list">
                        <li>
                            <a class='image-preview' href="../images/project-images/coffi-menu.png" target="_blank">
                                <img src="../images/project-images/coffi-menu.png" alt="Coffi Menu"/>
                            </a>
                        </li>
                        <li>
                            <a class="image-preview" href="../images/project-images/coffi-user.png" target="_blank">
                                <img src="../images/project-images/coffi-user.png" alt="Coffi User"/>
                            </a>
                        </li>
                    </ul>
                </div>
                <br>
                <br>
                <div>
                    <p class="project-name">Trivia</p>
                    2020
                    <p>Play some trivia! Create your own questions and categories and test your knowledge with a quiz.<br><a href="https://github.com/coldice1915/trivia-api">Link to Trivia</a></p>
                    <ul class="image-list">
                        <li>
                            <a class='image-preview' href="../images/project-images/trivia-home.png" target="_blank">
                                <img src="../images/project-images/trivia-home.png" alt="trivia homepage"/>
                            </a>
                        </li>
                        <li>
                            <a class='image-preview' href="../images/project-images/trivia-add.png" target="_blank">
                                <img src="../images/project-images/trivia-add.png" alt="trivia add a question"/>
                            </a>
                        </li>
                    </ul>
                </div>
                <br>
                <br>
                <div>
                    <p class="project-name">Fyyur</p>
                    2019
                    <p>Venue and artist booking site that lets you list and discover artists, venues, and upcoming shows.<br><a href="https://github.com/coldice1915/fyyur">Link to Fyyur</a></p>
                    <ul class="image-list">
                        <li>
                            <a class='image-preview' href="../images/project-images/fyyur.png" target="_blank">
                                <img src="../images/project-images/fyyur.png" alt="fyyur homepage"/>
                            </a>
                        </li>
                    </ul>
                </div>
                <br>
                <br>
                <div>
                    <p class="project-name">logs-analysis</p>
                    2019
                    <p>Built a reporting tool that outputs meaningful data by querying web server logs of article readers.<br><a href="https://github.com/coldice1915/logs-analysis">Link to logs-analysis</a></p>
                    <ul class="image-list">
                        <li>
                            <a class='image-preview' href="../images/project-images/logs-analysis.png" target="_blank">
                                <img src="../images/project-images/logs-analysis.png" alt="reporting tool"/>
                            </a>
                        </li>
                    </ul>
                </div>
                <br>
                <br>
            </div>
            <div>
                <div align=center><font size=-1>–– Other ––</font></div>
                <div class="project-width">
                    <p class="project-name">Home Renovation</p>
                    2018-2019
                    <p>Planned, budgeted, and executed renovation project with home owner. Ordered supplies and tools, painted interior of house, replaced carpet flooring with laminate, etc.<br>
                        <a href="https://www.redfin.com/VA/Centreville/14001A-Walter-Bowie-Ln-20121/home/145750555">Link to 14001A Walter Bowie Ln, Centreville, VA 20121</a>
                    </p>
                    <ul class="image-list">
                        <li>
                            <div id="before">
                                <a class='image-preview-lots'>
                                    <img class="image-hover" src="../images/project-images/home-renovation/supplies.jpg" alt="laminate boxes"/>
                                    <div id="after">
                                        <a class="image-preview-lots" href="../images/project-images/home-renovation/tools.jpg" target="_blank">
                                            <img src="../images/project-images/home-renovation/tools.jpg" alt="laminate tools"/></a>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div id="before">
                                <a class='image-preview-lots'>
                                    <img class="image-hover" src="../images/project-images/home-renovation/carpet-ripp.jpg" alt="ripping carpet"/>
                                    <div id="after">
                                        <a class="image-preview-lots" href="../images/project-images/home-renovation/carpet-roll.jpg" target="_blank">
                                            <img src="../images/project-images/home-renovation/carpet-roll.jpg" alt="rolling carpet"/></a>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div id="before">
                                <a class='image-preview-lots'>
                                    <img class="image-hover" src="../images/project-images/home-renovation/laminate-start.jpg" alt="laminate flooring"/>
                                    <div id="after">
                                        <a class="image-preview-lots" href="../images/project-images/home-renovation/laminate-finish.jpg" target="_blank">
                                            <img src="../images/project-images/home-renovation/laminate-finish.jpg" alt="laminate flooring finish"/></a>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <ul class="image-list">
                        <li>
                            <div id="before">
                                <a class='image-preview-lots' href="../images/project-images/home-renovation/stair-before.jpg" target="_blank">
                                    <img class="image-hover" src="../images/project-images/home-renovation/stair-before.jpg" alt="before stairs"/>
                                    <div id="after">
                                        <a class="image-preview-lots" href="../images/project-images/home-renovation/stair-after.jpg" target="_blank">
                                            <img src="../images/project-images/home-renovation/stair-after.jpg" alt="after stairs"/></a>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <ul>
            <li class= "">
                <a href="https://github.com/coldice1915" target="_blank">
                    <img id="social-link-github" title="GitHub" src="../images/GitHub-Mark/PNG/GitHub-Mark-64px.png">
                </a>
            </li>
            <li class= "">
                <a href="https://www.linkedin.com/in/question-no-doubt/" target="_blank">
                    <img id="social-link-linkedin" title="Linkedin" src="../images/LinkedIn-Logos/LI-In-Bug.png">
                </a>    
            </li>
        </ul>
    </footer>
</body>
</html>